apiVersion: apps/v1
kind: Deployment
metadata:
  name: fill-bot
  namespace: prod
  labels:
    env: prod
spec:
  replicas: 2
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1
  selector:
    matchLabels:
      app: fill-bot
  template:
    metadata:
      name: fill-bot
      labels:
        env: prod
        app: fill-bot
    spec:
      containers:
        - image: LOCATION-docker.pkg.dev/PROJECT_ID/REPOSITORY/IMAGE:TAG
          name: app
          env:
            - name: GOOGLE_CLOUD_PROJECT
              value: festive-cirrus-452916-c1
            - name: FILLER_KEYPAIR
              valueFrom:
                secretKeyRef:
                  name: filler-keypair
                  key: key
            - name: RPC_URLS
              valueFrom:
                secretKeyRef:
                  name: rpc-urls
                  key: key
            - name: INTERNAL_API_URL
              value: https://api.pyra.fi/card/
            - name: API_V2_URL
              value: https://api.pyra.fi/hook/
            - name: API_V2_KEY
              valueFrom:
                secretKeyRef:
                  name: api-privy-sweep-key
                  key: key
            - name: EMAIL_TO
              value: iarla@pyra.fi,diego@pyra.fi
            - name: EMAIL_FROM
              value: diego@pyra.fi
            - name: EMAIL_HOST
              value: smtp-relay.brevo.com
            - name: EMAIL_PORT
              value: "587"
            - name: EMAIL_USER
              value: 77aaea001@smtp-brevo.com
            - name: EMAIL_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: email-password
                  key: key
          resources:
            requests:
              memory: 256Mi
              cpu: 250m
            limits:
              memory: 3Gi
              cpu: 1500m
          securityContext:
            runAsUser: 1005
            runAsNonRoot: true
---
apiVersion: autoscaling.k8s.io/v1
kind: VerticalPodAutoscaler
metadata:
  name: fill-bot
  namespace: prod
spec:
  targetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: fill-bot
  updatePolicy:
    updateMode: "Auto"
  resourcePolicy:
    containerPolicies:
    - containerName: app
      minAllowed:
        cpu: 100m
        memory: 128Mi
      maxAllowed:
        cpu: 1500m
        memory: 3Gi
      controlledResources: ["cpu", "memory"]
